<header class="l-header">
  <div class="l-header__inner">
    <div class="m-header">
      <div class="m-header__logo">
        <a href="/" class="c-logo">
          <img src="/assets/images/common/logo.png" alt="株式会社コーポレート" class="c-logo__img" width="200" height="40">
        </a>
      </div>
      <nav class="m-header__nav">
        <ul class="m-header-nav">
          <li class="m-header-nav__item">
            <a href="dummy" class="m-header-nav__link">
              トップメッセージ
            </a>
          </li>
          <li class="m-header-nav__item">
            <a href="dummy" class="m-header-nav__link">
              トップメッセージ
            </a>
          </li>
          <li class="m-header-nav__item">
            <a href="dummy" class="m-header-nav__link">
              トップメッセージ
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
