---
layout: layouts/base
title: ページタイトル
description: ページの説明文
keywords: キーワード,キーワード,キーワード,キーワード
url: https://example.com/dummy/index.html
ogType: website
author: 株式会社コーポレートサイト
siteName: 株式会社コーポレートサイト
ogImage: /assets/images/ogp.png
twitterCard: summary_large_image
twitterImage: /assets/images/ogp.png
---

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>ページタイトル</h1>
      <p>ページの説明文</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>ここにコンテンツが入ります。</p>
    </div>
  </div>
</div>
